@import "../../../../strings/colors";

.Wrapper{
  width: 100vw;
  max-width: 1400px;
  margin: 0 auto;
}
.topText{
  width: calc(100% - 20px);
  padding-left: 20px;
  text-align: left;
  font-size: 18px;
  color: $accent1;
  padding-bottom: 20px;
}

.Button{
  margin: 10px 30px 20px;
  font-size: 18px;
  width: calc(100% - 60px);
  height: 50px;
  outline: none;
  border: none;
  background: $accent1;
  border-radius: 20px;
  text-align: center;
  line-height: 50px;
  color: white;
  font-weight: 600;
  transform: scale(1);

  box-shadow: 0 2px 5px $accent1;

  transition: transform .1s ease-in-out, box-shadow .1s ease-in-out;
}
.Button:active{
  transform: scale(.95);
}
