@import "../../../strings/colors";
.Layout{
  position: absolute;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow-x: hidden;
  background: $background;

  .Wrapper{
    overflow: visible;
  }
}

.Layout.unscrollable{
  overflow: hidden;
}