@import "src/strings/colors";

.Restore{
  width: 500px;
  padding: 5px;
  height: 30px;
  margin-top: 20px;
  margin-left: calc(50vw - 250px);
}
.title{
  margin: 100px auto;
  width: 300px;
  text-align: center;
  height: 50px;
  line-height: 50px;

}
.Back{
  width: 140px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  margin: 50px auto;
  color: darkblue;
  cursor: pointer;
  border-bottom: 1px solid darkblue;
}
.Button{
  max-width: calc(100vw - 40px);
  display: block;
  width: 200px;
  height: 45px;
  background-color: $accent1;
  border-radius: 10px;
  color: white;
  font-size: 26px;
  margin: auto;
  margin-top: 20px;
  box-shadow: none;
  border:none;
  transition: transform 0.2s;
  transform: scale(1);
}

.Button:focus{
  outline: none;
}

.Button:active{
  outline: none;
  transform: scale(0.95);
}
.Button:hover{
  outline: none;
}
