.PageWrap{
  width: 100%;
  max-width: 1920px;
  overflow: visible;

  >div{
    overflow: visible;
  }
}

@media screen and (min-width: 1920px){
  .PageWrap{
    margin-left: calc((100vw - 1920px)/2) ;
  }
}