@import "../../../../strings/colors";


.BannerImage{
  height: 600px;
  max-height: calc(100vh - 100px);
  background: url("../../../../images/man_bg.jpg") right top;
  background-size: cover;
  padding-left: 10vw  !important;
}
.LargeImage{
  max-height: calc(100vh - 100px);
  height: 700px;
  padding-left: 10vw  !important;
  background: url("../../../../images/man_bg.jpg") center top;
  background-size: cover;
}
.Banner{
  width: 100vw;
  min-height: 300px;
  padding-left: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
  margin-top: 100px;

  .Title{
    font-size: 40px;
    color: $accent1;
    font-weight: 600;
  }
  .Title > p{
    color: $accent1;
    font-weight: 600;
  }

  .Title.small{
    font-weight: 500;
  }

  button{

    position: relative;
    font-size: 18px;
    width: 230px;
    height: 40px;
    outline: none;
    border: 2px solid $accent1;
    background: $accent1;
    border-radius: 20px;
    margin-top: 15px;

    font-weight: 600;
    transform: scale(1);

    transition: transform .1s ease-in-out, box-shadow .1s ease-in-out;
    z-index: 1;
    box-shadow: 0 2px 5px $accent1;
  }
  button>p{


    color: $background;
  }

  button:active{
    transform: scale(.95);
  }
}