@import "../../../strings/colors";

.smartQuestion{
  width: 100vw;
}
.tabletQuestion{
  width: 50vw !important;
}
.desktopQuestion{
  width: 689px  !important;
}

.QuestionWrap {

  position: relative;
  display: inline-block;
  height: 170px;
  overflow: visible;
  width: 100vw;
  max-width: 660px;

  .Question {
    position: absolute;
    height: 150px;
    border-radius: 30px;
    width: calc(100% - 20px);
    margin-bottom: 20px;
    background: linear-gradient(#D183C9, #c859d1);
    box-shadow: 0 4px 10px #c859d1;
    margin-left: 10px;
    transition-delay: 0.01s;
    transition: transform .5s ease-in-out,  border-radius .5s ease-in-out,  width .5s ease-in-out, height .5s ease-in-out, margin .5s ease-in-out;

    .Title {
      text-align: center;
      width: calc(100%);
      font-size: 23px;
      font-weight: 600;
      color: $background;
      height: 80px;
      line-height: 80px;
    }

    .Text {
      color: $background;
      font-weight: 600;
      text-align: left;
      height: calc(100% - 150px);
      font-size: 18px;
      transition: padding .5s ease-in-out;

      div{
        color: $background;
        padding: 20px;
      }
    }

    .Button {
      margin: 0px auto;
      margin-top: 5px;
      font-size: 18px;
      width: calc(100% - 60px);
      height: 40px;
      outline: none;
      border: none;
      background: $background;
      border-radius: 20px;
      color: #c859d1;
      font-weight: 600;
      transform: scale(1);
      transition: transform .1s ease-in-out, box-shadow .1s ease-in-out;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .Button:active {
      transform: scale(.95);
    }
  }
}

@media screen and (min-width: 700px) {
  .QuestionWrap{
    width: 50%;
  }
}

@media screen and (min-width: 1100px) {
  .QuestionWrap{
    width: 33.3%;
  }
}

@media screen and (min-width: 1600px) {
  .QuestionWrap{
    width: 25%;
  }
}

.Question.open {
  width: 100vw;
  margin: 0px;
  border-radius: 0px;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 1005;
}

.Question.fullyOpen {

  //position: fixed;
}


.Question.recentlyClosed {

  z-index: 1001;
}
