@import "../../../strings/colors";
.Botter {
  overflow: hidden;
  width: 100vw;
  padding-top: 20px;
  min-height: 240px;
  background: $accent1;
  //box-shadow: 0 0 10px $text-color;
  z-index: 1000;
  color: white;
  box-sizing: border-box;
  margin-top: 20px;
  min-height: 250px;

}
.Contacts{
  height: 0px;
  transition: 0.2s ease-in-out;
  overflow: hidden;
}
.ContactsOpen{
  overflow: hidden;
  transition: 0.2s ease-in-out;
  height: 120px;
}

.AdressOpen{
  max-height: 160px;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  height: auto;
}
.NavOpen{
  overflow: hidden;
  transition: 0.2s ease-in-out;
  height: 80px;
}

.Adress{
  
  transition: 0.2s ease-in-out;
  overflow: hidden;
  max-height: 0px;
}
.Nav{
  height: 0px;
  transition: 0.2s ease-in-out;
  overflow: hidden;
}

i{
  color:white;
  float:right;
  display: block;
  border-right: 5px solid white;
  border-top: 5px solid white;
  border-radius: 3px;
  width: 15px;
  height: 15px;
  transform: rotate(45deg) translate3d(0px, 20px, 0);
  transition: transform .2s ease-in-out;
}

i.open{
  transform: rotate(135deg) translate3d(20px, 0px, 0);
}


.Button{
  font-weight: 600;
  color:white;
  font-size: 20px;
  width: 100%;
  text-align: left;
  height:50px;
  line-height: 50px;
  background-color: $accent1;
}



.name{
  font-size: 18px;
  padding-bottom: 5px;
  color:white;
}
.Wrapper{
  margin:  0 auto;
  width: calc(100% - 40px);
  text-align: left;
}
.status{
  line-height: 24px;
  color:white;
  height: 24px;
  font-size: 12px;
  padding-bottom: 5px;
}
.info{
  color:white;
  padding-top: 5px;
  font-size: 13px;
}
.rightsWriting{
  color:white;
  font-size: 16px;
  padding-bottom: 5px;
}
.CircleWhatsAp{
  margin-top: 5px;
  width: 60px;
  height: 60px;
  position:  absolute;
  background: url("https://2.bp.blogspot.com/-NYe9dcID4IE/XDjyU3qcgEI/AAAAAAAAGyA/xhciPwZ0ZyYsjkIDWf8xCpaPG5oaFbHOwCK4BGAYYCw/s1600/logo%2Bviber.png");
  background-size:cover;
  border-radius: 50px;
  margin-left: 10px;

  transition: 0.1s;
  background-position: center center;
}
.CirclePhone{
  margin-left: calc(100% - 70px);
  margin-top: 5px;
  width: 60px;
  height: 60px;
  position:  absolute;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcST0QAJr1B52IULWeUuD5m5AR997RF0d6NUr4SkEVAKmYETUdWt&usqp=CAU") center center;
  background-size:70px;
  background-repeat: no-repeat;
  border-radius: 50px;

  transition: 0.1s;
}
.CirclePhone:active{
  transform: scale(1.1);
}
.CircleWhatsAp:active{

  transform: scale(1.1);
}

.rights{
  transition: 4s;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.title{
  font-weight: 600;
  color: white;
  font-size: 24px;
  opacity: 0.9;
}

.text{
  color: white;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
}

.Column{
  text-align: center;
  height: 240px;
  width: calc(450px);
  display: inline-block;
}
