@import "../../../strings/colors";
.Botter {
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
  background: $accent1;
  //box-shadow: 0 0 10px $text-color;
  z-index: 1000;
  color: white;
  box-sizing: border-box;
  margin-top: 20px;
  height: 300px;
}
.name{
  font-size: 20px;
  padding-bottom: 10px;
  color:white;
}
.Wrapper{
  margin:  0 auto;
  width: calc(100% - 40px);
  text-align: left;
}
.status{
  color:white;
  font-size: 14px;
  padding-bottom: 5px;
}
.info{
  color:white;
  font-size: 12px;
  padding-bottom: 5px;
}
.rightsWriting{
  color:white;
  font-size: 16px;
  padding-bottom: 5px;
}
.CircleWhatsAp{
  margin-top: 5px;
  width: 60px;
  height: 60px;
  position:  absolute;
  background: url("https://2.bp.blogspot.com/-NYe9dcID4IE/XDjyU3qcgEI/AAAAAAAAGyA/xhciPwZ0ZyYsjkIDWf8xCpaPG5oaFbHOwCK4BGAYYCw/s1600/logo%2Bviber.png");
  background-size:cover;
  border-radius: 50px;
  margin-left: 10px;

  transition: 0.1s;
  background-position: center center;
}
.CirclePhone{
  margin-left: calc(100% - 70px);
  margin-top: 5px;
  width: 60px;
  height: 60px;
  position:  absolute;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcST0QAJr1B52IULWeUuD5m5AR997RF0d6NUr4SkEVAKmYETUdWt&usqp=CAU") center center;
  background-size:70px;
  background-repeat: no-repeat;
  border-radius: 50px;

  transition: 0.1s;
}
.CirclePhone:active{
  transform: scale(1.1);
}
.CircleWhatsAp:active{

  transform: scale(1.1);
}

.rights{
  transition: 4s ;

  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
iframe{
  width: calc(100vw - 120px);
}
