@import "../../../../strings/colors";
.PostsSlider{
  width: 100vw;
  height: 310px;
  overflow: visible;
  margin-bottom: 50px;

  .PostWrap{
    width: 400vw;
    height: inherit;
    margin-left: 0vw;
    transition: margin-left .5s ease-in-out;
    overflow: visible;
  }
  .PostWrapBig{
    width: 200vw;
    height: inherit;
    margin-left: 0vw;
    transition: margin-left .5s ease-in-out;
    overflow: visible;
  }


  .PostWrap.disAnim{
    transition: margin 0s;
  }

  .first{
    margin-left: 0vw;
  }


  .second{
    margin-left: -100vw;
  }


  .third{
    margin-left: -200vw;
  }

  .thirdBig{
    margin-left: -100vw;
  }


  .fourth{
    margin-left: -300vw;
  }


  .Dots{
    overflow: visible;
    position: relative;
    margin: 10px auto;
    width: 80px;
    height: 20px;
    display: flex;
    justify-content: space-between;

    .Dot{
      width: 15px;
      height: 10px;
      background: $accent2;
      border-radius: 4px;
      box-shadow: 0 1px 3px $accent2;
    }

    .Dot.open{
      background: $accent2light;
    }
  }
}