.form{
  width: 400px;
  margin: 50px auto;
}
.submitButton{
  display: block;
  margin-top: 10px;
  width: 120px;
  height: 30px;
}
.input{
  width: 380px;
  padding: 5px;
}
.title{
  padding-bottom: 10px;
  font-size: 22px;
}